@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Tinos:700&display=swap');
@import url("fonts/AvenirNextCyr-Regular/stylesheet.css");
@import url("fonts/TimesNewRoman/stylesheet.css");



/* === CSS RESET === */
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: #0ABAB5;

}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

.left-nudge{
	/* margin-left: 400px; */
}

.rTag{
	position: absolute;
	bottom: 0;
	color: rgb(187, 187, 187);
	background-color: black;
	padding: 5px;
	font-size: 12px;
	opacity: 70%;
	left: 0;
}

.softrTag{
	position: absolute;
	bottom: 0;
	color: rgb(255, 255, 255);
	background-color: rgb(43, 73, 77);
	padding: 5px;
	font-size: 12px;
	opacity: 40%;
	left: 0;
}

#s1{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background-color: #0ABAB5;
}

.full_logo{
	position: absolute;
	align-content: center;
	justify-content: center;
	width: 35%;
	margin-top: -100px;
}

.arrow{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 2.5px solid #FFFFFF;
    border-right: 2.5px solid #FFFFFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

#s2{
	height: 300vh;
	background-color: #0ABAB5;
	display: flex;
}


#s2 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 1%;
	left: 5%;
}

#s2 ul{
	font-size: 37px;
	line-height: 270px;
	font-weight: 400;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	top: 24%;
	left: 5%;
}

#s2 li{
	list-style-type: none;
}



#s2 img{
	position: absolute;
	right: 10px;
	top: 5%;
	/* height: 540px; */
}








#s3{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 370vh;
	background-color: #0ABAB5;
}

#s3 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 1%;

}

.hTransform{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 24%;
	font-weight: 800;
	text-align: center;
}

#s3 p{
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;

	position: absolute;
	top: 1%;
	text-align: center;
	/* left: 5%; */
}



#textPinSecond{
	opacity: 0;
}

#textPinThird{
	opacity: 0;
}

#s4{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background-color: #0ABAB5;
}

#yourwaste{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 3%;
	left: 5%;

}

#yourtext{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	top: 14%;
	left: 5%;
}

#foodWasteIs{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	top: 25%;
	left: 8%;
}

#next_btn{
	position: absolute;
	top: 87%;
	background:rgb(8, 161, 156);
	color: #0ABAB5;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 85px;
	padding-right: 85px;
	font-size: 20px;
	border-radius: 25px;
	border: none;
}

#s5{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 1500px;
	background-color: #0ABAB5;
}

#s5 p{
	margin-top: -300px;
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	width: 800px;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;

	position: absolute;

}

#s6{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background-color: #0ABAB5;
}

#s6 p{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
}

#s7{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 350vh;
	background-color: #0ABAB5;
	text-align: center;
}

#s7 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 20%;

}

#s8{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 300vh;
	background-color: #0ABAB5;
	text-align: center;
}

#s8 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 20%;

}

#s8 p{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	bottom: 20%;
	right: 16%;
}

#s8 h2 span{
	position: absolute;
	left: 0;
	color: brown;
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	transform: translate(380%, 300%);

}

#s9 {
    background: url(../images/bruised_grapefruit.jpg) no-repeat center center;
	background-size: cover;
	height: 120vh;
}


#s10{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background-color: #0ABAB5;
}

#s10 p{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;

}

#s11 {
background-color: #0ABAB5;
height: 130vh;
margin-top: 150px;
display: flex;
justify-content: center;
align-items: center;
}

#s11 img{
width: 80%;
}




#s12 {
    /* background: url(../images/grapefruit_ad.jpg) no-repeat fixed center center; */
	background-color: #0ABAB5;
	height: 130vh;
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#s12 img{
	width: 80%;
}

#s14{
	height: 400vh;
	background-color: #0ABAB5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* #madepastel img{
	width: 300px;
	padding-bottom: 20px;
	margin-right: 500px;
  } */

.grapefruit_ig{
	width: 40%;
	margin-left: 40%;
	padding-top: 12%;
}

.tiffany_ig{
	width: 40%;
	margin-right: 40%;

}



#s15{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 350vh;
	background-color: #0ABAB5;
}


#s15 span{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 24%;
	font-weight: 800;
	text-align: center;

}

#s15 p{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	top: 6%;
	left: 5%;
}


#FollowUp{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 300vh;
	background-color: #0ABAB5;
	text-align: center;
}

#FollowUp h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 20%;

}


#kanyeFollowup{
	display: flex;
    justify-content: center;
	align-items: center;

	height: 400vh;
	background-color: #0ABAB5;
	text-align: center;
}

#kanyeFollowup h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 5%;

}

#kanyeFollowup2{
	display: flex;
    justify-content: center;
	align-items: center;

	height: 400vh;
	background-color: #0ABAB5;
	text-align: center;
}

#kanyeFollowup2 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 5%;

}

#s16{

	height: 450vh;
	background-color: #0ABAB5;
	
}

#s16 h2{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 10%;
	right: 5%;
}

#s16 h3{
	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 10%;
	right: 5%;
}

#s16 img{
	position: absolute;
	left: 5%;
	top: 30%;
	height: 250px;
}


#s17{
	height: 450vh;
	background-color: #0ABAB5;
	padding-top: 200px;
}

#s17 h2{

	font-size: 37px;
	line-height: 2;
	font-weight: 400;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	font-style: italic;

	position: absolute;
	text-align: center;
	top: 12%;
	left: 10%;
}


#s17{
	height: 450vh;
	background-color: #0ABAB5;
	padding-top: 200px;
}



#kanyePin{
	position: absolute;
	right: 1%;
	/* top: 1%; */
	height: 650px;
}

#s18{
	height: 650vh;
	background-color: #0ABAB5;
	padding-top: 400px;
}

#s18 h2{

	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;

	position: absolute;
	text-align: right;
	top: 4%;
	right: 7%;
}

#s18 img{
	position: absolute;
	left:2%;
	top: 7%;
}



#s19{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 1700px;
	background-color: #0ABAB5;
}

#s19 p{
	margin-top: -300px;
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;

}


#text_container{
	margin-bottom: 40px;
}


#s20{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 200vh;
	background-color: #0ABAB5;
}

#s20 img{
	padding-top: 65%;
}












#branding1{
	display: flex;
	height: 150vh;
	background-color: white;
}

#column1{
	flex: 55%;
	height: 100%;
	left: -10%;
}

#column1 img{
	height: 100%;
}

#column2{
	flex: 45%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

#column2 article{
	position: absolute;
}

#column2 img{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 72%;

}







.font_container{
	position: a;
	text-align: center;

}

.font1{
	font-size: 80px;
	color: white;
	padding-bottom: 100px;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;

}

.font2{
	font-size: 80px;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	font-weight: 400;

}








.full_section {
    width: 100%;
    height: 90vmax;
}

.full_section70 {
    width: 100%;
    height: 70vmax;
}


#grapefruit_slide1 {
    background: url(../images/grapefruit_slide1.jpg) no-repeat fixed top center;
    background-size: cover;
}

#grapefruit_slide2 {
    background: url(../images/grapefruit_slide2.jpg) no-repeat center center;
    background-size: cover;
}

#grapefruit_slide3 {
    background: url(../images/grapefruit_slide3.jpg) no-repeat fixed center center;
    background-size: cover;
}

#grapefruit_slide4 {
    background: url(../images/grapefruit_slide4.jpg) no-repeat center center;
    background-size: cover;
}

#grapefruit_slide5 {
    background: url(../images/grapefruit_slide5.jpg) no-repeat fixed center center;
    background-size: cover;
}

#grapefruit_slide6 {
    background: url(../images/grapefruit_slide6.jpg) no-repeat bottom center;
    background-size: cover;
}

#grapefruit_slide7 {
    background: url(../images/grapefruit_slide7.jpg) no-repeat fixed center center;
    background-size: cover;
}


#diamond_slide1 {
    background: url(../images/diamond_slide1.jpg) no-repeat fixed top center;
	background-size: cover;
}

/* this slide is taller */
#diamond_slide2 {
    background: url(../images/diamond_slide2.jpg) no-repeat center center;
    background-size: cover;
}

#diamond_slide3 {
    background: url(../images/diamond_slide3.jpg) no-repeat fixed center center;
    background-size: cover;
}

/* this slide is taller */
#diamond_slide4 {
    background: url(../images/diamond_slide4.jpg) no-repeat center center;
    background-size: cover;
}

#diamond_slide5 {
    background: url(../images/diamond_slide5.jpg) no-repeat fixed top center;
    background-size: cover;
}

#diamond_slide6 {
    background: url(../images/diamond_slide6.jpg) no-repeat center center;
    background-size: cover;
}

#diamond_slide7 {
    background: url(../images/diamond_slide7.jpg) no-repeat fixed center center;
    background-size: cover;
}










.slider_container{
	position: absolute;
	top: 75%;
}


.range {
	position: relative;
	top: 90%;
  }
  .range input[type=range] {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	padding: 0;
	width: 100%;
	height: 22px;
	cursor: pointer;
	display: block;
  }
  .range input[type=range]:focus {
	outline: none;
  }
  .range input[type=range][disabled] {
	opacity: .3;
	cursor: default;
  }
  .range .rangeslider {
	position: relative;
	height: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }
  .range .rangeslider:before {
	box-sizing: border-box;
	width: 100%;
	height: 8px;
	background: #066A67;
	border-radius: 100px;
	content: "";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  .range input::-webkit-slider-runnable-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #066A67;
	border-radius: 100px;
	margin: 11px 0;
  }
  .range input::-moz-range-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #066A67;
	border-radius: 100px;
	margin: 11px 0;
  }
  .range input::-ms-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #066A67;
	border-radius: 100px;
	color: transparent;
	padding: 11px 0;
	background: transparent;
	border-color: transparent;
  }
  .range input::-ms-fill-lower,
  .range input::-ms-fill-upper {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #066A67;
	border-radius: 100px;
  }
  .range input::-ms-fill-lower {
	background: #066A67;
  }
  .range .rangeslider-fill-lower {
	background-color: #066A67;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	height: 4px;
	will-change: width;
  }
  .range input::-webkit-slider-thumb {
	box-sizing: border-box;
	box-shadow: 0px 2px 15px #066A67;
	/* border: 6px solid #fff; */
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: url("../images/grapefruit4.png") center no-repeat;
	cursor: pointer;
	-webkit-appearance: none;
			appearance: none;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	margin-top: 2px;
  }
  .range input::-moz-range-thumb {
	box-sizing: border-box;
	box-shadow: 0px 2px 15px #066A67;
	/* border: 6px solid #fff; */
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: url("../images/grapefruit4.png") center no-repeat;
	cursor: pointer;
  }
  .range input::-ms-thumb {
	box-sizing: border-box;
	box-shadow: 0px 2px 15px #066A67;
	border: 6px solid #066A67;
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: url("../images/grapefruit4.png") center no-repeat;
	cursor: pointer;
  }
  .range .rangeslider-thumb {
	box-sizing: border-box;
	box-shadow: 0px 2px 15px #066A67;
	/* border: 6px solid #fff; */
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background: url("../images/grapefruit4.png") center no-repeat;
	cursor: pointer;
	position: absolute;
	touch-action: pan-x;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	will-change: left;
  }
  .range .range-output {
	position: absolute;
	left: 6px;
	top: 6px;
	-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
	transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }
  .range .range-output .output {
	display: block;
	position: absolute;
	height: 60px;
	line-height: 60px;
	min-width: 32px;
	padding: 0 20px;
	top: -35px;
	-webkit-transform: translate(-50%, -100%);
			transform: translate(-50%, -100%);
	background: #066A67;
	color: #fff;
	border-radius: 50px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
  }
  .range .range-output .output:before {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	border: 10px solid #066A67;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
  }



  form {
	max-width: 500px;
	min-width: 730px;
  }

#displayVal {
	position: absolute;
    width:4px;
    height:4px;
    background: #460404;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	z-index: 100;

    transform: translate(-50%, -50%);
}

#displayVal p {
	text-align: center;
	font-size: 76px;
	color: white;
	font-family: Times New Roman;
	transform: translate(-50%, -50%);

}

#baseline {
	position: absolute;
    width:400px;
    height:400px;
    background:#FF9803;
	border-radius: 50%;
	top: 10%;
	right: 10%;
}

#baseline_fruit{
	position: absolute;
	width: 30%;
	top: 5%;
	right: 10%;
}


#myParent{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 10%;
    right: 10%;
 }

 #myLeaf{
     position: absolute;
     width: 50px;
     top: -30px;
     left: 15%;
 }

 #myFruit{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
 } 

 #brownCircle{
     position: absolute;
     width: 200px;
     height: 200px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     background-color: brown;
     z-index: 10;
 }

 #myValue{
	position: absolute;
	z-index: 1500;
	/* text-align: center; */
	transform: translate(100%, 100%);

 }



 #canadianParent{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 30%;
    left: -35%;
 }


 #theirLeaf{
	position: absolute;
	width: 50px;
	top: -30px;
	left: 15%;
}

#theirFruit{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
} 

#theirCircle{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #460404;
	z-index: 100;

}

#canAverage{
	opacity: 0;
	text-align: center;

	font-size: 76px;
	color: white;
	/* font-family: 'Tinos', serif; */
	font-family: Times New Roman;
	position: absolute;
	top: 3%;
}

#canAverage2{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	opacity: 0;
	top: 15%;
}


#theirValue{
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	position: absolute;
	transform: translate(-50%, -50%);

	top: 14%;
}

#myValue{
	position: absolute;
	z-index: 500;
	top: 0%;
	left: 0%;
	font-size: 26px;
	/* line-height: 40px; */
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	transform: translate(0%, 50%);

	position: absolute;
}

#theirValue{
	position: absolute;
	z-index: 500;
	top: 0%;
	left: 0%;
	font-size: 26px;
	/* line-height: 40px; */
	font-weight: 300;
	color: white;
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: Avenir Next;
	transform: translate(0%, 50%);

	position: absolute;
}

#theirCircle {
	position: absolute;
    width:50%;
    height:50%;
    background: #460404;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	z-index: 100;

    transform: translate(-50%, -50%);
}

#theirCircle p {
	text-align: center;
	font-size: 76px;
	color: white;
	font-family: Times New Roman;
	transform: translate(0%, 60%);

}